@font-face {
    font-family: 'Copy Duck';
    src: url('../fontes/copy-duck.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: lightblue;
}

h1 {
    background-image: linear-gradient(to left, rgb(255, 0, 255), rgb(37, 0, 37));
    font-family: 'Copy Duck';
    font-size: 35px;
    color: rgb(228, 228, 2);
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 15px;
    border: 2px solid black;
    padding: 13px;
    padding-bottom: 9px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
}

main > div {
    margin: 0 10px;
    border: 2px solid black;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
    background-color: aqua;
    border-radius: 10px;
}

h2 {
    text-align: center;
    padding: 3px;
}

ul {
    margin-top: 15px;
    text-align: center;
    line-height: 25px;
}

ul > a {
    margin: 0 5px;
    padding: 5px 15px;
    font-weight: bold;
    color: darkblue;
    text-decoration: none;
}

ul > a:hover {
    margin: 0 5px;
    padding: 5px 15px;
    font-weight: bold;
    background-color: darkred;
    color: yellow;
    text-decoration: underline;
    border-radius: 10px;
    transition-duration: .5s;
}

footer > div {
    background-color: rgb(31, 31, 31);
    color: yellow;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
    line-height: 25px;
}

.fone {
    color: lightgreen;
}

.rua-nro {
    color: rgb(0, 185, 255);
}

.bairro {
    color: rgb(255, 100, 0);
}

.cid-est {
    color: lightcoral;
}

.cep {
    color: chartreuse;
}

.fone-whats {
    color: pink;
}

.link-fone {
    color: lightgreen;
    text-decoration: none;
}

.link-fone:hover {
    color: yellow;
    background-color: darkred;
    text-decoration: underline;
}

.link-fone::after {
    content: '\00A0\1F517';
}

.copyright {
    background-color: black;
}